<html>
<head background-image=("Users/shakur.ahmed/Documents/singlePageApp/itsitlogo.png")>

	<link rel="stylesheet" type="text/css" href="app.css">
	<title>firstpage with yassine</title>

</head>
    <h4 id="h4"> <em> Got Questions? We Got Answers!! </em></h4>
<!-- <hr> -->
<section>  
<div class="container">
  <form method="post" action='/support' autocomplete="on">
    <label for="userName"><b> UserName: </b></label>
    <input type="text" id="username" name="username" placeholder="start typing..." required="required" list="listofusers">
    <datalist id="listofusers">
    	<option value="Yassine Haddioui">Yass</option>
    	<option value="Ammar Nasif">Ammar</option>
    	<option value="Musab Mulla" Musab Mulla>Term</option>
    	<option value="Kina Casey">Kina</option>
    	<option value="Tim Johnson">Tim</option>
    	<option value="Hannah Wang">Hannah</option>
    	<option value="Shakur Ahmed">Shakur</option>
    	<option value="Dan Djalili" >Dan</option>
    	<option value="Rory Aptekar" >Rory</option>
    	<option value="Ronnie Jones" >Ronnie</option>
       <option value="Katie Murph" >Katie</option>
    	<option value="Will Campbell" >Will</option>
    	<option value="Thang Huynh" >Thang</option>
    	<option value="Frank Chow">Frank</option>
    	<option value="Scott Signa">Scott</option>
    	<option value="Contractors">.cont</option>
    	<option value="Carlos Torres">Boss</option>
    	<option value="Luis Cortez">SEC</option>
    </datalist>
 
   	<div>
   		<label for="description "></label>
    	<textarea id="description" name="subject" placeholder="Reason for your visit today?" required="required"></textarea>
      
      <button id"button" style="cursor:pointer">Submit</button>
   	</div>
   	</section>
 
<!--    	<div>
<!--   		<label for="IT"><b>Issue Type:</b></label>-->
<!--    		<select id="IT" name="issue type">-->
<!--      			<option value="wk">Walk-Up </a></option>-->
<!--      			<option value="esca">Escalations</option>-->
<!--      			<option value="chilling">Chill with homies</option>-->
<!--      			<option value="other">Other</option>-->
<!--   			 </select>-->
<!--   	</div> 

<!--     <button id"button" style="cursor:pointer">Submit</button>
<!--	</div> 
</form>
</div>

<!--<script type="text/javascript" src= "contactform.js"></script>-->
</body>
	<!--<script type="text/javascript" src = "firstpagewyassine.js"></script>-->
</html>