<html>
<head>
    <link rel="stylesheet" type="text/css" href="app.css">
	<title>SupportEng Side</title>
</head>

<body>
    <h2>Next user up is: </h2>
    <ul>
    <% userList.forEach(function(user) { %>
        <li><%= user.id %> - <%= user.name %> - <strong><%= user.description %> </strong> </li>
    <% }); %>
</ul>
    <div>
        
    </div>
</body>
</html>